# VimConf configuration file

[plugins]
a              = http://www.vim.org/scripts/download_script.php?src_id=7218
fugitive       = git://github.com/tpope/vim-fugitive.git
git            = git://github.com/motemen/git-vim.git
matrix         = http://www.vim.org/scripts/download_script.php?src_id=8687
nerd-commenter = git://github.com/scrooloose/nerdcommenter.git
nerd-tree      = git://github.com/scrooloose/nerdtree.git
pathogen       = git://github.com/tpope/vim-pathogen.git
pydoc          = git://github.com/fs111/pydoc.vim.git
snippy         = http://www.vim.org/scripts/download_script.php?src_id=8450
supertab       = git://github.com/ervandew/supertab.git
tabular        = git://github.com/godlygeek/tabular.git
taglist        = http://www.vim.org/scripts/download_script.php?src_id=7701
vimbuddy       = http://www.vim.org/scripts/download_script.php?src_id=7481
yankring       = http://www.vim.org/scripts/download_script.php?src_id=16536
